@keyframes wobble {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(105%); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateX(-105%); }
  100% {
    transform: translateX(0); } }
