<html>
  <head>
    <base href="src/">
    <script src="js/settings.js"></script>
    <script src="js/music.js"></script>
    <script src="js/sounds.js"></script>
    <script src="../vue.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        let musicVue;
        let soundVue;

        SoundManager.init().then(() => {
          SoundManager.musicEngine.cueSong('gameplay');
          startSoundEngineMonitor();
          startMusicEngineMonitor();
          musicVue.status = 'Ready';
        });

        let musicEngine = SoundManager.musicEngine;

        function startSoundEngineMonitor() {
          document.addEventListener('keydown', (e) => {
            let keyCode = String.fromCharCode(e.keyCode);
            for (let s in SoundManager.sounds) {
              if (soundVue.soundKeys[s] === keyCode) {
                SoundManager.playSound(s);
              }
            }
            for (let b in soundVue.bankKeys) {
              if (soundVue.bankKeys[b] === keyCode) {
                SoundManager.playRandomSoundFromBank(b);
              }
            }
          });

          let activeSequences = {};

          soundVue = new Vue({
            el: "#sound-engine",
            data: {
              sounds: SoundManager.sounds,
              banks: SoundManager.banks,
              events: SoundManager.events,
              loops: SoundManager.loops,
              soundKeys: {},
              bankKeys: {},
              soundStored: !!localStorage.getItem('sounds'),
              lowPassFilterFrequency: 0,
              lowPassStatus: 'off'
            },
            methods: {
              playSound: (e) => {
                SoundManager.playSound(e.srcElement.getAttribute('data-name'));
              },
              playBank: (e) => {
                SoundManager.playRandomSoundFromBank(e.srcElement.getAttribute('data-name'));
              },
              limitedSoundTimeoutChanged: () => {
                SoundManager.saveSettingsToLocalStorage();
              },
              bindKeyToSound: (clickEvent) => {
                var name = clickEvent.srcElement.getAttribute('data-name');

                function onKeyDown (keyboardEvent) {
                  document.removeEventListener('keydown', onKeyDown);
                  if (keyboardEvent.code === 'Escape') {
                    soundVue.soundKeys[name] = '?';
                    return;
                  }
                  soundVue.soundKeys[name] = String.fromCharCode(keyboardEvent.keyCode);

                  // Annoying, because vue is supposed to do this for us, but doesn't.
                  clickEvent.srcElement.textContent = soundVue.soundKeys[name];
                }

                document.addEventListener('keydown', onKeyDown);
              },
              bindKeyToBank: (clickEvent) => {
                var name = clickEvent.srcElement.getAttribute('data-name');

                function onKeyDown (keyboardEvent) {
                  document.removeEventListener('keydown', onKeyDown);
                  if (keyboardEvent.code === 'Escape') {
                    soundVue.bankKeys[name] = '?';
                    return;
                  }
                  soundVue.bankKeys[name] = String.fromCharCode(keyboardEvent.keyCode);

                  // Annoying, because vue is supposed to do this for us, but doesn't.
                  clickEvent.srcElement.textContent = soundVue.bankKeys[name];
                }

                document.addEventListener('keydown', onKeyDown);
              },
              clearStorage: () => {
                SoundManager.clearSettingsFromLocalStorage();
              },
              volumeChanged: (e) => {
                SoundManager.saveSettingsToLocalStorage();
              },
              fireEvent: (clickEvent) => {
                var name = clickEvent.srcElement.getAttribute('data-name');
                SoundManager.fireEvent(name);
              },
              startLoop: (clickEvent) => {
                var name = clickEvent.srcElement.getAttribute('data-name');
                SoundManager.startLoop(name);
              },
              stopLoop: (clickEvent) => {
                var name = clickEvent.srcElement.getAttribute('data-name');
                SoundManager.stopLoop(name);
              },
              saveSettingsToLocalStorage: (e) => {
                SoundManager.saveSettingsToLocalStorage();
                soundVue.$forceUpdate();

                fetch('/save', {
                  body: JSON.stringify({
                    sound: SoundManager.getSettingsForOutput(),
                    music: musicEngine.getSettingsForOutput()
                  }),
                  headers: {
                    'content-type': 'application/json'
                  },
                  cache: 'no-cache',
                  method: 'PUT'
                }).then(res => {
                  console.log(res);
                });
              },
              loadSettingsFromLocalStorage: (e) => {
                SoundManager.loadSettingsFromLocalStorage();
                soundVue.$forceUpdate();
                musicVue.$forceUpdate();
              },
              clearSettingsFromLocalStorage: (e) => {
                SoundManager.clearSettingsFromLocalStorage();
                soundVue.$forceUpdate();
              },
              loadSettingsFromServer: () => {
                fetch('/load', {
                  cache: 'no-cache',
                  method: 'GET'
                }).then(res => {
                  res.json().then(json => {
                    SoundManager.loadSettingsFromJSON(json);
                    soundVue.$forceUpdate();
                    musicVue.$forceUpdate();
                  });
                });
              },
              startSequence: (e) => {
                var name = e.srcElement.getAttribute('data-name');
                activeSequences[name] = new SoundManager.sequences[name]();
                activeSequences[name].start();
              },
              stopSequence: (e) => {
                var name = e.srcElement.getAttribute('data-name');
                if (activeSequences[name]) {
                  activeSequences[name].stop();
                  delete activeSequences[name];
                }
              }
            }
          });

          // Just to set some defaults for vue.js :/
          let soundKeyList = ['Q','W','E','R','A','S','D','F','Z','X','C','V'];
          for (let s in SoundManager.sounds) {
            let key = soundKeyList.shift();
            soundVue.soundKeys[s] = key || '?';
          }

          // Just to set some defaults for vue.js :/
          let bankKeyList = ['P','O','I','L','K','J','M','N','B'];
          for (let s in SoundManager.banks) {
            let key = bankKeyList.shift();
            soundVue.bankKeys[s] = key || '?';
          }

          setInterval(() => {
            soundVue.lowPassFilterFrequency = SoundManager.globalLowPassFilterFrequency;
          }, 25);

          document.addEventListener('lowpassstarted', (e) => {
            soundVue.lowPassStatus = 'on';
          });
          document.addEventListener('lowpassfinished', (e) => {
            soundVue.lowPassStatus = 'off';
          });
          document.addEventListener('lowpassinterrupted', (e) => {
            soundVue.lowPassStatus = 'off';
          });

          document.addEventListener('limitedsoundstarted', (e) => {
            let item = document.querySelector('#sounds-table tr[data-name="' + e.detail + '"] .limit');
            item.classList.add('on');
          });
          document.addEventListener('limitedsoundfinished', (e) => {
            let item = document.querySelector('#sounds-table tr[data-name="' + e.detail + '"] .limit');
            item.classList.remove('on');
          });

          let soundPlayedTimeouts = {};
          let bankPlayedTimeouts = {};
          document.addEventListener('soundplayed', (e) => {
            let name = e.detail;
            let item = document.querySelector('#sounds-table [data-sound="' + name + '"]');
            item.classList.add('on');
            if (name in soundPlayedTimeouts && soundPlayedTimeouts[name] > -1) {
              clearTimeout(soundPlayedTimeouts[name]);
              delete soundPlayedTimeouts[name];
            }
            soundPlayedTimeouts[name] = setTimeout(()=> {item.classList.remove('on');}, 150);
          });
          document.addEventListener('soundbankplayed', (e) => {
            let name = e.detail;
            let item = document.querySelector('#banks-table [data-bank="' + name + '"]');
            item.classList.add('on');
            if (name in bankPlayedTimeouts && bankPlayedTimeouts[name] > -1) {
              clearTimeout(bankPlayedTimeouts[name]);
              delete bankPlayedTimeouts[name];
            }
            bankPlayedTimeouts[name] = setTimeout(()=> {item.classList.remove('on');}, 150);
          });

          document.addEventListener('soundended', (e) => {
            // console.log(e.detail);
          });

          document.addEventListener('limitedsoundbankstarted', (e) => {
            let item = document.querySelector('#banks-table tr[data-name="' + e.detail + '"] .limit');
            item.classList.add('on');
          });
          document.addEventListener('limitedsoundbankfinished', (e) => {
            let item = document.querySelector('#banks-table tr[data-name="' + e.detail + '"] .limit');
            item.classList.remove('on');
          });

        }

        function startMusicEngineMonitor() {
          musicVue = new Vue({
            el: '#music-engine',
            data: {
              status: 'Loading',
              moods: musicEngine.getMoods(),
              layerDefinitions: musicEngine.getLayerDefinitions(),
              moodToSet: 'default',
              currentMood: 'default',
              moodActive: false,
              ducking: 0,
              globalGain: musicEngine.getGlobalGain(),
              musicEngine: musicEngine
            },
            methods: {
              start: () => {
                musicEngine.start();
              },
              stop: () => {
                musicEngine.stop();
              },
              fadeIn: () => {
                musicEngine.fadeIn(2);
              },
              fadeOut: () => {
                musicEngine.fadeOut(2);
              },
              setMood: (e) => {
                musicEngine.setMood(e.srcElement.value);
              },
              setMoodTemporarily: (e) => {
                musicEngine.setMoodTemporarily(e.srcElement.value);
              },
              duck: (e) => {
                musicEngine.duck(e.srcElement.getAttribute('data-name'));
              },
              globalGainChanged: (e) => {
                musicEngine.setGlobalGain(musicVue.globalGain);
                SoundManager.saveSettingsToLocalStorage();
              },
              addIntensity: (e) => {
                musicEngine.addIntensity(document.querySelector('section.intensity input').value);
              },
              changeSong(e) {
                musicEngine.stop();
                musicEngine.cueSong(e.srcElement.getAttribute('data-song-name'));
                musicVue.layerDefinitions = musicEngine.getLayerDefinitions();
              },
              playSongLooped(e) {
                musicEngine.stop();
                musicEngine.cueSong(e.srcElement.getAttribute('data-song-name'));
                musicVue.layerDefinitions = musicEngine.getLayerDefinitions();
                musicEngine.start({loop: true});
              },
              fadeInSongLooped(e) {
                musicEngine.stop();
                musicEngine.cueSong(e.srcElement.getAttribute('data-song-name'));
                musicVue.layerDefinitions = musicEngine.getLayerDefinitions();
                musicEngine.fadeIn(2, {loop: true});
              },
              playSongChain(e) {
                musicEngine.playSongChain(e.srcElement.getAttribute('data-song-chain-name'));
                musicVue.layerDefinitions = musicEngine.getLayerDefinitions();
              }
            }
          });

          musicEngine.addSongChainListener(() => {
            musicVue.layerDefinitions = musicEngine.getLayerDefinitions();
          });

          document.addEventListener('musicmoodstart', (e) => {
            musicVue.currentMood = e.detail;
            musicVue.moodActive = true;
          });

          document.addEventListener('musicmoodstop', () => {
            musicVue.currentMood = 'default';
            musicVue.moodActive = false;
          });

          document.addEventListener('duckingstarted', (e) => {
            let display = document.querySelector('#ducking-profile');
            display.textContent = JSON.stringify(e.detail);
          });

          document.addEventListener('duckinginterrupted', (e) => {
            let display = document.querySelector('#ducking-profile');
            display.textContent = '';
          });

          document.addEventListener('duckingstopped', (e) => {
            let display = document.querySelector('#ducking-profile');
            display.textContent = '';
          });

          setInterval(() => {
            musicVue.ducking = musicEngine.duckingNode.gain.value;

            let musicLayers = musicEngine.getLayers();
            for (let layerName in musicLayers) {
              let layer = musicLayers[layerName];
              let gainValue = layer.gain.gain.value;
              let colourValue = 255 - (gainValue * 255);
              let layerDisplay = document.querySelector('section.music-layers [data-layer="' + layerName + '"]');
              layerDisplay.style.backgroundColor = 'rgb(' + colourValue + ', 255, ' + colourValue + ')';
              layerDisplay.querySelector('.gain-value').textContent = Math.round(gainValue * 1000)/1000;
            }
          }, 25);
        }
      });
    </script>
    <style>
      body {
        font-family: 'Open Sans';
        font-size: 8pt;
      }

      #sound-engine {
        position: fixed;
        top: .25em;
        left: .5%;
        background: white;
        width: 69%;
        padding: .5em;
        border: 5px dashed black;
        box-sizing: border-box;
        height: calc(100vh - 5px);
      }
      
      #music-engine {
        position: fixed;
        top: .25em;
        left: 70.5%;
        background: white;
        width: 29%;
        padding: .5em;
        border: 5px dashed black;
        box-sizing: border-box;
        height: calc(100vh - 5px);
      }

      h1, h2 {
        margin-top: 0;
        margin-bottom: .5em;
      }

      .sticky {
        margin-bottom: 1em;
      }

      .scrollable {
        overflow-y: scroll;
        flex: 1;
      }

      .container {
        display: flex;
        flex-flow: column;
      }

      span[data-mood-active=true] {
        background: lightgreen;
      }

      table {
        font-size: inherit;
      }

      section {
        margin-bottom: 1em;
      }

      #sounds-table [data-sound],
      #ducking-table [data-profile],
      #banks-table [data-bank],
      [data-low-pass-status] {
        background-color: rgba(25, 205, 25, 0);
        transition: background-color .25s;
      }

      #sounds-table [data-sound].on,
      #ducking-table [data-profile].on,
      #banks-table [data-bank].on,
      [data-low-pass-status="on"] {
        background-color: rgba(25, 205, 25, 1);
        transition: none;
      }

      #sounds-table .limit.on,
      #banks-table .limit.on {
        background-color: rgba(25, 205, 25, 1);
        transition: none;
      }
      #sounds-table .limit,
      #banks-table .limit {
        background-color: rgba(25, 205, 25, 0);
        transition: background-color .05s;
      }

      input[type="text"],
      input[type="number"] {
        width: 50px;
      }
    </style>
  </head>
  <body>
    <div id="sound-engine" class="container">
      <div class="sticky">
        <h1>Sound Engine</h1>
        <div>Storage: <span>{{SoundManager.localStorageStatus}}</span></div>
        <div><button v-on:click="saveSettingsToLocalStorage">Save</button><button v-on:click="loadSettingsFromLocalStorage">Load</button><button v-on:click="clearSettingsFromLocalStorage">Clear</button><button v-on:click="loadSettingsFromServer">Load from Server</button></div>
      </div>
      <div class="scrollable">
        <section>
          <h2>Low Pass</h2>
          <div>Status: <span :data-low-pass-status="lowPassStatus">{{lowPassStatus}}</span>
          <div>Frequency: <span>{{lowPassFilterFrequency}}</span></div>
          <table id="low-pass-settings-table">
            <tr><th>Start Freq</th><th>End Freq</th><th>Q</th></tr>
            <tr>
              <td><input type="number" v-model.number="SoundManager.temporaryLowPassSettings.startFrequency"></td>
              <td><input type="number" v-model.number="SoundManager.temporaryLowPassSettings.endFrequency"></td>
              <td><input type="number" v-model.number="SoundManager.temporaryLowPassSettings.Q"></td>
            </tr>
          </table>
          <table id="low-pass-envelope-table">
            <tr><th>Attack</th><th>Sustain</th><th>Release</th></tr>
            <tr>
              <td><input type="number" v-model.number="SoundManager.temporaryLowPassSettings.attack"></td>
              <td><input type="number" v-model.number="SoundManager.temporaryLowPassSettings.sustain"></td>
              <td><input type="number" v-model.number="SoundManager.temporaryLowPassSettings.release"></td>
            </tr>
          </table>
          <div>
            <button v-on:click="SoundManager.temporaryLowPass">Temporary</button>
            <button v-on:click="SoundManager.startLowPass">Start</button>
            <button v-on:click="SoundManager.stopLowPass">Stop</button>
          </div>
        </section>

        <section>
          <h2>Sequences</h2>
          <table>
            <tr><th>Name</th><th>Start</th><th>Stop</th></tr>
            <tr v-for="(profile, name) in SoundManager.sequences">
              <td>{{name}}</td>
              <td><button :data-name="name" v-on:click="startSequence">Start</button></td>
              <td><button :data-name="name" v-on:click="stopSequence">Stop</button></td>
            </tr>
          </table>
        </section>

        <section>
          <h2>Events</h2>
          <table>
            <tr><th>Name</th><th>Fire</th></tr>
            <tr v-for="(profile, name) in events">
              <td>{{name}}</td>
              <td><button :data-name="name" v-on:click="fireEvent">Fire</button></td>
            </tr>
          </table>
        </section>

        <section>
          <h2>Loops</h2>
          <table>
            <tr><th>Name</th><th>Status</th><th>Start</th><th>Stop</th></tr>
            <tr v-for="(profile, name) in loops" class="loop-row">
              <td>{{name}}</td>
              <td data-loop="{{name}}">{{loops[name].active}}</td>
              <td><button :data-name="name" v-on:click="startLoop">Start</button></td>
              <td><button :data-name="name" v-on:click="stopLoop">Stop</button></td>
            </tr>
          </table>
        </section>

        <section>
          <h2>Banks</h2>
          <table id="banks-table">
            <tr>
              <th>Name</th>
              <th>Play</th>
              <th>Limit</th>
              <th>Duck Gain</th>
              <th>Duck Attack</th>
              <th>Duck Sustain</th>
              <th>Duck Release</th>
              <th>Key</th>
            </tr>
            <tr v-for="(profile, name) in banks" :data-name="name">
              <td :data-bank="name">{{name}}</td>
              <td><button :data-name="name" v-on:click="playBank">Play</button></td>
              <td><input class="limit" type="number" v-model.number="profile.limit"></td>
              <td><input class="limit" type="number" v-model.number="profile.ducking.gain"></td>
              <td><input class="limit" type="number" v-model.number="profile.ducking.attack"></td>
              <td><input class="limit" type="number" v-model.number="profile.ducking.sustain"></td>
              <td><input class="limit" type="number" v-model.number="profile.ducking.release"></td>
              <td><button :data-name="name" v-on:click="bindKeyToBank">{{bankKeys[name]}}</button></td>
            </tr>
          </table>
        </section>

        <section>
          <h2>Sounds</h2>
          <table id="sounds-table">
            <tr>
              <th>Name</th>
              <th>Volume</th>
              <th>Play</th>
              <th>Limit</th>
              <th>Duck Gain</th>
              <th>Duck Attack</th>
              <th>Duck Sustain</th>
              <th>Duck Release</th>
              <th>Key</th>
            </tr>
            <tr v-for="(profile, name) in sounds" :data-name="name">
              <td :data-sound="name">{{name}}</td>
              <td><input type="range" min="0" max="1" step="0.01" v-model="profile.volume" @change="volumeChanged"></td>
              <td><button :data-name="name" v-on:click="playSound">Play</button></td>
              <td><input class="limit" type="number" v-model.number="profile.limit"></td>
              <td><input class="limit" type="number" v-model.number="profile.ducking.gain"></td>
              <td><input class="limit" type="number" v-model.number="profile.ducking.attack"></td>
              <td><input class="limit" type="number" v-model.number="profile.ducking.sustain"></td>
              <td><input class="limit" type="number" v-model.number="profile.ducking.release"></td>
              <td><button :data-name="name" v-on:click="bindKeyToSound">{{soundKeys[name]}}</button></td>
            </tr>
          </table>
        </section>
      </div>
    </div>
    <div id="music-engine" class="container">
      <div class="sticky">
        <h1>Music Engine</h1>
        <section>
          <h2>State</h2>
          <div class="status">Status: {{musicEngine.status}}</div>
          <div>
            Play:
            <button class="start" v-on:click="start" :disabled="musicEngine.status != 'ready' && musicEngine.status != 'stopped'">Start</button>
            <button class="start" v-on:click="fadeIn" :disabled="musicEngine.status != 'ready' && musicEngine.status != 'stopped'">Fade In</button>
            <button class="start" v-on:click="stop" :disabled="musicEngine.status != 'playing'">Stop</button>
            <button class="start" v-on:click="fadeOut" :disabled="musicEngine.status != 'playing'">Fade Out</button>
          </div>
          <div>
            Ducking: <span id="ducking-profile"></span>
          </div>
        </section>
      </div>
      <div class="scrollable">
        <section>
          <h2>Global Gain</h2>
          <div>Global Gain <input type="range" min="0" max="1" step="0.01" v-model.number="globalGain" @change="globalGainChanged"></div>
        </section>
        <section>
          <h2>Song Chains</h2>
          <button v-for="(songChain, name) in musicEngine.getSongChains()" v-on:click="playSongChain" :data-song-chain-name="name">{{name}}</button>
        </section>
        <section>
          <h2>Songs</h2>
          <div>Current song: {{musicEngine.currentSongName}}</div>
          <div v-for="(song, name) in musicEngine.getSongs()">
            {{name}}
            <button  v-on:click="changeSong" :data-song-name="name">Cue</button>
            <button  v-on:click="playSongLooped" :data-song-name="name">Play Looped</button>
            <button  v-on:click="fadeInSongLooped" :data-song-name="name">Fade In Looped</button>
          </div>
        </section>
        <section class="music-layers">
          <h2>Layers</h2>
          <div v-for="(layer, name) in layerDefinitions">
            <div :data-layer="name"><b>{{name}}</b>: {{layer.file}} [<span class="gain-value">0</span>]</div>
          </div>
        </section>
        <section class="intensity">
          <h2>Intensity</h2>
          <div>
            <input type="number" min="0" max="255" value="10">
            <button v-on:click="addIntensity">Add Intensity</button>
            <span>{{musicEngine.currentIntensity}}</span>
          </div>
        </section>
        <section>
          <h2>Moods</h2>
          <div>Current Mood: <span :data-mood-active="moodActive">{{currentMood}}</span></div>
          <div v-for="mood in moods">
            {{mood}} <button :value="mood" v-on:click="setMood">Set</button><button :value="mood" v-on:click="setMoodTemporarily">Temporary</button>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>