html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: black;
  perspective: 1200px;
}

.score-display {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

.tilt-wrapper {
  position: absolute;
  top: calc(50vh - 275px);
  left: calc(50vw - 400px);
  transform-style: preserve-3d;
}

.world {
  width: 800px;
  height: 500px;
  position: absolute;
  outline: solid 20px rgba(255,255,255,.2);
  outline: solid 20px #222;
  box-sizing: border-box;
}




canvas {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.controller {
  background: orange;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 100px;
  left: 100px;
  opacity: 0;
}

.paddle {
  background: white;
  position: absolute;
  width: 20px;
  height: 100px;
  top: calc(50% - 50px);
  z-index: 999999;
}

.paddle.one {
  left: 50px;
}

.paddle.two {
  right: 50px;
}

.ball {
  background: white;
  position: absolute;
  width: 30px;
  height: 30px;
  left: calc(50% - 15px);
  top: 100px;
  border-radius: 15px;
  z-index: 9999999;
}

[data-physics] {
  will-change: transform;
}

.endzone {
  position: absolute;
  height: 100%;
  top: 0;
  width: 5px;
  background: white;
  opacity: 0;
}

.endzone.one {
  left: 0;
}

.endzone.two {
  right: 0;
}

.terrain {
  position: absolute;
  height: 100%;
  top: 0;
  width: 50%;
  transition: width .25s ease-out;

}

.terrain.two:after {
 content:"";
 width: 0px;
 border-left: dashed 2px rgba(255,255,255,.2);
 position:absolute;
 left: 0px;
 top: -10%;
 height: 120%;
}

.terrain.one {
  left: 0;
  background: #8c2919;
  background: #ac4d9d;
}

.red-chunk {
  z-index: 1;
  background: #ac4d9d;
}

.terrain.two {
  background: #4cbd94;
  background: #3faa7f;
  right: 0;
}

.blue-chunk {
  z-index: 1;
  background: #3faa7f;
}

.light-up-red {
  animation: lightupRed 1s ease-out;
}

@keyframes lightupRed {
  5% { background: #ac4d9d; }
}

.light-up-blue {
  animation: lightupBlue 1s ease-out;
}

@keyframes lightupBlue {
  5% { background: #3faa7f; }
}

.speed {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  text-shadow: 0 2px 0 rgba(0,0,0,.2);
  color: rgba(255,255,255,.7);
}

/*.blue {
  background: #1871a8;
  border-radius: 5px;
}

.red {
  background: #8c2919;
  border-radius: 5px;
}
*/
.blank-particle {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
}

.puff {
  background: rgba(255,255,255,.4);
  background: #555;
  z-index: 5;
}


.blast-line {
  transform-origin: top;
  z-index: 4;
}


.underblast {
  z-index: 2;
  position: absolute;
  border-radius: 50%;
}



.boom {
  position: absolute;
  z-index: 999;
  opacity: 1;
  transform-style: preserve-3d;
}

.boom .body {
  animation: boom .5s ease-out;
  animation-fill-mode: forward;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.boom .shock {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: shock .5s ease-out;
  animation-fill-mode: forward;
  background: white;
  box-sizing: border-box;
  opacity: 0;
}


@keyframes boom {
  0% {
    transform: scale(.95) translateZ(0);
    opacity: 1;
    background: white;
  }
  30% {
    background: #ffb806;

  }
  40% {
    transform: scale(1) translateZ(4px);
    opacity: 1;
    background: #ffb806;
    animation-timing-function: ease-in;
  }
  80% {
    background: #727272;
  }
  100% {
    opacity: 0;
    transform: scale(.75) translateZ(20px);
  }
}

@keyframes shock {
  0% {
    transform: scale(.95);
    opacity: .4;
    background: white;
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.underblast {
  z-index: 2;
  position: absolute;
  border-radius: 50%;
}


.message {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  z-index: 9999;
  transform-style: preserve-3d;
}

.message .body {
  color: white;
  white-space: nowrap;
  z-index: 3;
  padding: 5px 0;
  position: absolute;
  font-size: 35px;
  opacity: .9;
  top: 0;
  left: -130px;
  text-align: center;
  width: 260px;
  font-weight: bold;
  font-family: sans-serif;
  transform: translateY(-25px) translateX(10px) translateZ(20px) rotateX(-45deg);
  animation: messagePop 2s ease-out;
  animation-fill-mode: forwards;
  text-transform: uppercase;
  text-shadow: 0px 2px 0 rgba(0,0,0,.2);
}

@keyframes messagePop {
  0% {
    transform: translateY(-25px) translateX(10px) translateZ(10px) rotateX(-45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-25px) translateX(10px) translateZ(100px) rotateX(-55deg);
    opacity: 0;
  }
}
