// Animations that build the game screen

.game {
  .surface {
    animation: surfaceAppear 3s ease-out;
  }

  .large-moon {
    animation: moonAppear 3s ease-out;
  }
  
  .canvas-stars {
    animation: starsAppear 3s ease-out;
  }
}

.scene {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  .sky {
    width: 100vw;
    height: 48vh;
    position: absolute;
    top: 0;
  }

  .canvas-stars {
    opacity: 1;
    
    canvas {
      position: relative;
    }
  }
  
  @keyframes starsAppear {
    0% {
      opacity: 0;
    }
  }

  .surface {
    background-image: url(assets/images/surface-purple.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 175%;
    width: 100vw;
    height: 150vh;
    position: absolute;
    top: 30vh;
 
    .overlay {
      width: 100%;
      height: 100%;
      background-image: url(assets/images/surface-green.svg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: 175%;
      top: 0;
      left: 0;
      position: absolute;
      opacity: .5;
      transition: opacity .2s ease-in-out;
    }

    @keyframes surfaceAppear {
      0% {
        transform: translateY(600px);
      }
    }
  }

  .large-moon {
    position: absolute;
    width: 500px;
    width: 40%;
    padding-top: 40%;
    right: -50px;
    top: 45px;
    background-image: url(assets/images/green-moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    @keyframes moonAppear {
      0% {
        transform: translateY(900px) rotateZ(13deg);
      }
    }
  }
}

.board-shadow-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.board-shadow {
    position: absolute;
    width: 800px;
    height: 500px;
    top: calc(50vh - 205px);
    left: calc(50vw - 400px);
    opacity: .2;
    background-image: url(assets/images/board-shadow.svg);
    background-size: 100%;
    background-position: bottom;
    transform: rotateX(20deg) rotateY(0deg);
    background-repeat: no-repeat;
    animation: shadowAppear 2s ease-out;

    @keyframes shadowAppear {
      0% {
        opacity: 0;
        transform: rotateX(20deg) rotateY(0deg) translateY(-400px) scale(.8);
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity: .2;
        transform: rotateX(20deg) rotateY(0deg) translateY(0px);
      }
    }
}

.board-wrapper {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.score-satellite {
  position: absolute;
  width: 200px;
  height: 140px;
  left: 20px;
  top: 20px;
  background-image: url(assets/images/score.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: satelliteAppear 2s ease-out;
  animation-delay: 0s;
  transition: transform 1.5s ease-in-out;

  &.fly-up {
    transform: translateY(-200px);
  }

  @keyframes satelliteAppear {
    0% {
      transform: translateY(-250px);
    }
  }

  .score-screen {
    color: white;
    position: absolute;
    font-size: 36px;
    width: 140px;
    left: 38px;
    top: 46px;
    opacity: .5;
    text-align: center;
    transform: rotateZ(-10deg) skew(-6deg);

    .player-1-score {
      color: #ca59b7;
      color: white;
      padding-right: 8px;
      position: relative;
      top: 1px;
    }

    .colon {
      opacity: .4;
    }

    .player-2-score {
      color: #3faa7f;
      color: white;
      padding-left: 10px;
    }
  }
}

.scoreboard {
  font-size: 50px;
  color: white;
  text-align: center;

  div {
    display: inline-block;
  }
}

.board-wrapper.hide {
  opacity: 0;
}

.shake-wrapper {
  transform-style: preserve-3d;
  transform-origin: center;
}

.terrain {
  z-index: 1;
}

.blast-zone {
  z-index: 3;
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.spin-wall {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 5px;
  background: #39f6ff;
  opacity: .2;
  animation: spinWall .5s ease-in-out infinite;
  display: none;
  
  &.top {
    transform-origin: top;
    border-radius: 0 0 50% 50%;
    top: 0;
  }
  
  &.bottom {
    transform-origin: bottom;
    border-radius: 50% 50% 0 0;
    bottom: 0;
  }
  
  @keyframes spinWall {
    50% {
      transform: scaleY(2.25);
      opacity: .5;
    }
  }
}

.pink-chunk, .green-chunk {
  z-index: 2;
}

.boom {
  z-index: 4;
}

.speedLetter {
  z-index: 3;
}

.paddle {
  z-index: 100;
}

.tilt-wrapper {
  /*opacity: 0;*/
  position: absolute;
  top: calc(50vh - 295px);
  left: calc(50vw - 445px);
  transform-style: preserve-3d;
  transform: rotateX(20deg) rotateY(0deg);
}

.world {
  width: 890px;
  height: 540px;
  position: relative;
  border: solid 20px #222;
  box-sizing: border-box;
  -moz-transform-style: preserve-3d;
  animation: worldAppear 4s ease-out;

  @keyframes worldAppear {
    0% {
      transform: translateY(-800px) scale(.8);
    }
    60% {
      transform: translateY(20px);
    }
    100% {
     transform: translateY(0);
    }
  }
}

.winner-screen.winner-one  {
  .sky {
    background-image: radial-gradient(
      200% 100% at bottom,
      #540c56 55%,
      #000 100%);  
  }

  .world {
    border: solid 20px #bd71b0;
  }
}


.winner-screen.winner-two {
  .sky {
    background-image: radial-gradient(
    200% 100% at bottom,
    #0b3322 55%,
    #000 100%);
  }

  .world {
    border: solid 20px #66bb98;
  }
}

.one .bigscore {
  color: $green;
}

.two .bigscore {
  color: $pink;
}

.goal {
  position: absolute;
  height: 100%;
  top: 0;
  width: 6px;
  opacity: 0;
  transition: all .3s ease-out;
  border-radius: 5px;
  width: 60px;

  &.one.on {
    opacity: .5;
    transform: scaleZ(1) rotateY(-90deg);
  }

  &.one {
    background-color: $green;
    left: -10px;
    transform: scaleZ(.2) rotateY(-90deg);
    transform-origin: left;
  }

  &.two.on {
    opacity: .6;
    transform: scaleZ(1) rotateY(90deg);
  }

  &.two {
    background-color: $pink;
    right: -10px;
    transform: scaleZ(.2) rotateY(90deg);
    transform-origin: right;
  }
}


.terrain {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  transition: transform .25s ease-out;

  &.one {
    left: 0;
    background-color: $pink;
    background-image: url(assets/images/board-corner-left.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 350px;
    transform-origin: left;
  }

  &.two {
    right: 0;
    background-color: $green;
    background-image: url(assets/images/board-corner-right.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 350px;
    transform-origin: right;
  }  
}

.pink-chunk {
  z-index: 2;
  background: $pink;
}

.green-chunk {
  z-index: 1;
  background: $green;
}

.bestof.hide-animation {
  opacity: 0;
  animation: bigScoreHideAnimation .15s ease-out;
}

.bigscore-wrapper .bestof {
  box-sizing: border-box;
  font-size: 50px;
  position: absolute;
  top: 65px;
  width: 230px;
  text-align: center;
}

.one .bestof {
  color: $green;
  right: 0;
  display: none;
  transform-origin: bottom right;
  transform: rotate(-90deg);
  animation: bestOfAppear .2s ease-out;
}

@keyframes bestOfAppear {
  0% {
    transform: rotate(-60deg);
    opacity: 0;
  }
}

.two .bestof {
  color: #ac4d9d;
  display: none;
  transform-origin: bottom left;
  transform: rotate(90deg);
  animation: bestOfAppearScore .2s ease-out;
}

@keyframes bestOfAppearScore {
  0% {
    transform: rotate(60deg);
    opacity: 0;
  }
}

.bigscore-wrapper {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 2;
  
  &.one {
    left: 0;
  }
  
  &.two {
    right: 0;
  }
}

.bigscore {
  position: absolute;
  top: 55px;
  left: 25%;
  width: 50%;
  height: 400px;
  text-align: center;
  display: none;
  font-size: 300px;
  animation: bigScoreAppear .15s ease-out;
  box-sizing: border-box;
}

@keyframes bigScoreAppear {
  0%  {
    opacity: 0;
    transform: scale(.9) translateZ(5px);
  }
}

.bigscore.hide-animation {
  opacity: 0;
  animation: bigScoreHideAnimation .15s ease-out;
}

@keyframes bigScoreHideAnimation {
  0%    {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scale(.9) translateY(5px);
   }
}


// Border flash on the screen when a player scores
// or gets a gunshot.

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  box-sizing: border-box;
  will-change: opacity;
}

.team-1-flash {
  border: solid 20px $pink;
}

.team-2-flash {
  border: solid 20px $green;
}

.team-1-scored-flash .team-1-flash, 
.team-2-scored-flash .team-2-flash {
  animation: scored-flash .5s ease-out;
}

@keyframes scored-flash {
  0% { opacity: .5; }
}

.menu-toggle {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url(assets/images/pause.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: .3;
  
  &:hover {
    opacity: .75;
  }
}

.winner-two .between-round-score {
   .screen {
    background: $green;
  }
  .restart {
    background: $pink;
  }

}

.winner-one .between-round-score {
  .screen {
    background: $pink;
  }
  .restart {
    background: $green;
  }
}


.between-round-score {
  position: fixed;
  top: -10vh;
  left: -10vw;
  width: 120vw;
  height: 120vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(0,0,0,.8);
  transform: rotateX(-12deg);
  perspective: 1200px;
  animation: betweenRoundAppear 1s ease-out;
  
  @keyframes betweenRoundAppear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &.fadeout {
    animation: betweenFadeout 1s ease-in-out;
    opacity: 0;
    
    .score-wrapper {
      transform: translateY(-1000px);
      opacity: 0;
    }
    
    @keyframes betweenFadeout {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

 .score-wrapper {
    position: relative;
    width: 600px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    text-transform: uppercase;
    box-sizing: border-box;
    top: -50px;
    transform: scale(1);
    perspective: 1200;
    transform-style: preserve-3d;
    transition: all 1s ease-in;
    animation: scoreAppear 2s ease-out;
    
    @keyframes scoreAppear {
      0% {
        transform: translateY(-1000px);
      }
      30% {
        transform: translateY(-1000px);
      }
      80% {
        transform: translateY(35px);
      }
      100% {
        transform: translateY(0);
      }
    }

    .wing {
      position: absolute;
      height: 340px;
      width: 175px;
      top: 185px;
      animation: wingrotate 3s ease-in-out infinite;
      animation-direction: alternate;
      
      @keyframes wingrotate {
        0% {
          transform: rotateX(-25deg);
        }
        100% {
          transform: rotateX(25deg);
        }
      }
    }

    .left-wing {
      left: -175px;
      background-image: url(assets/images/wing-left.svg);
      background-position: left;
      background-size: cover;
    }
    
    .right-wing {
      right: -175px;
      background-position: right;
      background-size: cover;
      background-image: url(assets/images/wing-right.svg);
      animation-direction: alternate reverse;
    }

    .satellite-top {
      background-image: url(assets/images/satellite-top.svg);
      background-position: bottom;
      background-repeat: no-repeat;
      height: 120px;
    }

    .screen-wrapper {
      background: #585B6D;
      padding: 20px;
      border-radius: 0 0 3px 3px;
    }

    .screen {
      border: solid 10px #1F2235;
      border-width: 5px 10px 14px 10px;
      border-radius: 20px;
      padding: 15px 0;
      position: relative;
      transform: rotateZ(0);
    }
    
    .divider {
      position: relative;
      top: -4px;
    }

    h2 {
      font-size: 25px;
      margin: 0;
      opacity: .65;
    }
    
    h1 {
      font-size: 50px;
      margin: 0 0 20px 0;
    }
    
    .scores {
      font-size: 50px;
    }
  }

  .stats {
    font-size: 20px;
    margin: 30px auto 30px auto;
    color: rgba(255,255,255,1);
    border: solid 1px rgba(255,255,255,1);
    opacity: .5;

    td {
      text-align: center;
      padding: 3px 45px;
      border: solid 1px rgba(255,255,255,1);
    }

    h3 {
      margin: 0;
    }
  }
  
  .restart {
    box-shadow: 0 -5px 0 rgba(0,0,0,.3);
    margin-bottom: 4px;
  }
  
  .settings {
    font-size: 20px;
  }

}