.scene {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  .sky {
    width: 100vw;
    height: 48vh;
    position: absolute;
    top: 0;
  }

  .stars {
    width: 100vw;
    left: 0;
    height: 40vh;
    position: absolute;
    top: 0;

    img {
      position: absolute;
      width: 100%;
    }
  }

  .surface {
    background-image: url(assets/images/surface-purple.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 230vw;
    height: 150vh;
    position: absolute;
    top: 30vh;
    left: -65vw;
    transform-origin: 50% 800%;
    animation: surfaceHover 10s ease-in-out;

    .overlay {
      width: 100%;
      height: 100%;
      background-image: url(assets/images/surface-green.svg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: 70%;
      top: 0;
      left: 0;
      position: absolute;
      transition: opacity .2s ease-out;
    }

    @keyframes surfaceHover {
      50% {
        transform: translateY(-15px);
      }
    }


    @keyframes rotateSurface {
      0% {
        transform: rotate(-5deg);
      }
      50% {
        transform: rotate(5deg);
      }
      100% {
        transform: rotate(-5deg);
      }
    }
  }

  .large-moon {
    position: absolute;
    width: 500px;
    height: 500px;
    right: -50px;
    top: 45px;
    background-image: url(assets/images/green-moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: largerMoon 15s ease-in-out infinite;

    @keyframes largerMoon {
      50% {
        transform: translateY(-20px) rotateZ(3deg);
      }
    }
  }

}

.board-shadow {
    position: absolute;
    width: 800px;
    height: 500px;
    top: calc(50vh - 205px);
    left: calc(50vw - 400px);
    opacity: .2;
    background-image: url(assets/images/board-shadow.svg);
    background-size: 100%;
    background-position: bottom;
    transform: rotateX(20deg) rotateY(0deg);

    animation: shadowAppear 1.2s ease-out;

    @keyframes shadowAppear {
      0% {
        opacity: 0;
        transform: rotateX(20deg) rotateY(0deg) translateY(-500px);
      }
      100% {
        opacity: .2;
        transform: rotateX(20deg) rotateY(0deg) translateY(0px);
      }
    }
}


.board-wrapper {
  transform-style: preserve-3d;
  perspective: initial;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.score-satellite {
  position: absolute;
  width: 200px;
  height: 140px;
  left: 20px;
  top: 20px;
  background-image: url(assets/images/score.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: satelliteAppear 2s ease-out, satelliteDrift 6.5s ease-out infinite;
  animation-delay: 0s, 2s;

  @keyframes satelliteAppear {
    0% {
      transform: translateY(-250px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes satelliteDrift {
    50% {
      transform: translateY(-10px) rotateZ(2deg);
    }
  }

  .score-screen {
    color: white;
    position: absolute;
    font-size: 36px;
    width: 140px;
    left: 38px;
    top: 46px;
    opacity: .5;
    text-align: center;
    transform: rotateZ(-10deg) skew(-6deg);
    animation: screenFlicker .1s linear infinite;

    .player-1-score {
      color: #ca59b7;
    }

    .colon {
      opacity: .4;
    }

    .player-2-score {
      color: #3faa7f;
    }

    .colon {
      transform: translateY(-4px);
      display: inline-block;
    }

    @keyframes screenFlicker {
      0% {
        opacity: .5;
      }
      10% {
        opacity: .75;
      }
      20% {
        opacity: .5;
      }

    }


  }
}

.scoreboard {
  font-size: 50px;
  color: white;
  text-align: center;

  div {
    display: inline-block;
  }
}

.board-wrapper.hide {
  opacity: 0;
}

@keyframes boardIntro {
  0%      { opacity: 0;    transform: translateY(0vh) translateZ(1000px) rotateZ(-20rad); }
  64.5%   { opacity: 0.8;  transform: translateY(0vh) translateZ(1000px) rotateZ(0rad); }
  99.9%   { opacity: 1; }
  100%  { opacity: 0.8; }
}

.board-wrapper.intro {
  animation: boardIntro 7.769636s 0s 1 forwards;
}

.shake-wrapper {
  transform-style: preserve-3d;
}

.terrain {
  z-index: 1;
}

.blast-zone {
  z-index: 3;
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.red-chunk, .blue-chunk {
  z-index: 2;
}

.boom {
  z-index: 4;
}

.speedLetter {
  z-index: 3;
}

.paddle {
  z-index: 100;
}

.tilt-wrapper {
  position: absolute;
  top: calc(50vh - 295px);
  left: calc(50vw - 445px);
  transform-style: preserve-3d;
  transform: rotateX(20deg) rotateY(0deg);
}

.world {
  width: 890px; // 1000px
  height: 540px;
  position: relative;
  border: solid 20px #222;
  box-sizing: border-box;
  -moz-transform-style: preserve-3d;

  animation: worldAppear 2s ease-out;

    @keyframes worldAppear {
      0% {
        transform: translateY(-800px) scale(.8);
      }
      60% {
        transform: translateY(20px);
      }
      100% {
       transform: translateY(0);
      }
    }

}

.winner-screen.winner-one  {
  background-image: radial-gradient(
    200% 100% at bottom,
    #540c56 55%,
    #000 100%);

  .world {
    border: solid 20px #bd71b0;
  }
}


.winner-screen.winner-two {
  background-image: radial-gradient(
    200% 100% at bottom,
    #0b3322 55%,
    #000 100%);

  .world {
    border: solid 20px #66bb98;
  }
}


.terrain {
  position: absolute;
  height: 100%;
  top: 0;
  width: 50%;
  transition: width .25s ease-out;
  background-size: 200px;
}

.terrain.one .bigscore {
  color: #3faa7f;
}

.terrain.two .bigscore {
  color: #ac4d9d;
}

.terrain.one {
  left: 0;
  background-color: #ac4d9d;
  background-image: url(assets/images/board-corner-left.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 350px;
}


.red-chunk {
  z-index: 2;
  background: #ac4d9d;
}

.terrain.two {
  background-color: #3faa7f;
  right: 0;
  background-image: url(assets/images/board-corner-right.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 350px;
}

.blue-chunk {
  z-index: 1;
  background: #3faa7f;
}

.bestof.hide-animation {
  opacity: 0;
  animation: bigScoreHideAnimation .15s ease-out;
}

.terrain .bestof {
  box-sizing: border-box;
  font-size: 50px;
  position: absolute;
  top: 65px;
  width: 230px;
  text-align: center;
}

.terrain.one .bestof {
  color: #3faa7f;
  right: 0;
  display: none;
  transform-origin: bottom right;
  transform: rotate(-90deg);
  animation: bestOfAppear .2s ease-out;
}

@keyframes bestOfAppear {
  0% {
    transform: rotate(-60deg);
    opacity: 0;
  }
}

.terrain.two .bestof {
  color: #ac4d9d;
  display: none;
  transform-origin: bottom left;
  transform: rotate(90deg);
  animation: bestOfAppearScore .2s ease-out;
}

@keyframes bestOfAppearScore {
  0% {
    transform: rotate(60deg);
    opacity: 0;
  }
}

.bigscore {
  position: absolute;
  top: 55px;
  left: 25%;
  width: 50%;
  height: 400px;
  text-align: center;
  display: none;
  font-size: 300px;
  animation: bigScoreAppear .15s ease-out;
  box-sizing: border-box;
}

@keyframes bigScoreAppear {
  0%  {
    opacity: 0;
    transform: scale(.9) translateZ(5px);
  }
}

.bigscore.hide-animation {
  opacity: 0;
  animation: bigScoreHideAnimation .15s ease-out;
}

@keyframes bigScoreHideAnimation {
  0%    {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scale(.9) translateY(5px);
   }
}

.goal-one {
  position: absolute;
  width: 100px;
  right: -5px;
  opacity: .5;
  height: 80px;
  background: yellow;
  transform: rotateY(90deg);
  transform-origin: right;
  z-index: 99999999;
}

.team-1-scored-flash .team-1-flash {
  animation: team-1-scored-flash .5s ease-out;
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  will-change: opacity;
  transform: translateZ(0);
}

.team-1-flash {
  background: #ac4d9d;
}

.team-2-flash {
  background: #3faa7f;
}


@keyframes team-1-scored-flash {
  5% { opacity: 1; }
}

.team-2-scored-flash .team-2-flash {
  animation: team-2-scored-flash .5s ease-out;
}

@keyframes team-2-scored-flash {
  5% { opacity: 1; }
}
