.intro-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;

  .skip-instruction {
    position: fixed;
    bottom: 1em;
    width: 100%;
    text-align: center;
    color: white;
    font-size: .7em;
    text-transform: uppercase;
  }
}

.intro-wrapper.show {
  display: flex;
}

@keyframes textShadowColorCycle {
  0%      {text-shadow: 0 0 10px orange, 0 0 10px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;}
  10%     {text-shadow: -5px 0 20px orange, 0 0 5px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;}
  20%     {text-shadow: -5px -5px 10px orange, 5px 0 30px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;}
  30%     {text-shadow: 0 -5px 10px orange, 5px 5px 10px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;}
  40%     {text-shadow: 0 0 10px orange, 0 5px 10px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;}
  50%     {text-shadow: 0 0 30px orange, 0 0 50px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;}
  60%     {text-shadow: -5px 0 10px orange, 0 0 10px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;}
  70%     {text-shadow: -5px -5px 10px orange, 5px 0 30px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;}
  80%     {text-shadow: 0 -5px 10px orange, 0 5px 10px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;}
  90%     {text-shadow: 0 0 40px orange, 5px 5px 20px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;}
  100%    {text-shadow: 0 0 10px orange, 0 0 10px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;}
}

.intro-wrapper .title {
  font-family: 'Teko', sans-serif;
  line-height: 0.8em;
  font-size: 300px;
  font-weight: bold;
  visibility: hidden;
  text-shadow: 0 0 10px orange, 0 0 10px orange, 0 0 10px orange, 0 0 10px orange, 0 0 31px orange;
  animation: textShadowColorCycle 10s 0s infinite linear;
}

.intro-wrapper .title.show {
  visibility: visible;
}

.intro-wrapper .start {
  cursor: pointer;
  text-transform: uppercase;
  visibility: hidden;
  font-size: 2em;
  transition: transform .05s, text-shadow .15s linear;
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
}
.intro-wrapper .start.show {
  visibility: visible;
}
.intro-wrapper .start:hover {
  transform: scale(1.2);
  text-shadow: -2px 2px 4px magenta, 2px 4px 5px lightblue;
}
