@keyframes scaredPaddle {
  0% {
    transform: translateX(2px) translateY(0px);
  }
  25% {
    transform: translateX(0px) translateY(-2px) rotate(1deg);
  }
  50% {
    transform: translateX(-2px) translateY(0px);
  }
  75% {
    transform: translateX(0px) translateY(2px) rotate(-1deg);
  }
}

@keyframes powerupHit {
  0% {
    background: #ffb806;
  }
}

.paddle {
  position: absolute;
  width: 20px;
  height: 100px;

  .body {
    position: absolute;
    transition: background .15s ease-out;
    animation: paddleAppear .3s ease-out;

    -moz-animation: none;
    background-color: white;
    width: 100%;
    height: 100%;

    .bone {
//      display: none;
    }
  }

  &.skeleton .body {
    background: none;
  }

  &.skeleton .body .bone {
    background-image: url(assets/images/bone.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    opacity: .7;
  }

  @keyframes paddleAppear {
    0% {
      transform: scaleX(0) scaleY(0);
      animation-timing-function: ease-out;
    }
    70% {
      transform: scaleX(1.1) scaleY(1.2);
      animation-timing-function: ease-in;
    }
    100% {
      transform: scale(1);
    }
  }

  &.loser .body {
    background: transparent;
    background: rgba(255,255,255,.2);
  }

  &.shaking .body {
    animation: scaredPaddle .1s linear infinite;
    background: rgba(255,255,255,.2);
  }

  &.powerup-hit .body {
    animation: powerupHit .5s ease-out;
  }

  &.powerup-spin .body {
    background: #5fffff;
    animation: spinPowerupOn .15s ease-out 4;
  }

  &.dead .body {
    background: rgba(255,255,255,0);
  }


  .body {
//    z-index: 1;
  }

    .dash-broad {
      display: none;
      background-image: url(assets/images/thrust-side.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      background-color: orange;
//      display: block;
      position: absolute;
      width: 100px;
      height: 100px;

      right: 50%;
      transform-origin: bottom;

    }

//.dash-narrow {
//  background-image: url(assets/images/thrust.svg);
//  background-repeat: no-repeat;
//  background-position: top;
//  background-size: 55%;
//  display: block;
//  position: absolute;
//  background-color: blue;
//  width: 140px;
//  height: 200px;
//  opacity: 0;
//  bottom: 50%;
//  transform-origin: bottom;
//  left: -60px;
//  animation: dashFade .5s ease-out;
//}

    .dash-narrow {
      background-image: url(assets/images/thrust.svg);
      background-repeat: no-repeat;
      background-position: top;
      background-size: 55%;
      display: block;
      position: absolute;
      width: 140px;
      height: 200px;
//      background-color: blue;
//      opacity: 0;
      bottom: 50%;
      transform-origin: bottom;
      left: -60px;
//      animation: dashFade .5s ease-out;
    }

.dash-narrow {
  display: none;
}
  &.tired {




    @keyframes dashFade {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 1;
      }

    }


  }
}

@keyframes spinPowerupOn {
  50% {
    background: white;
  }
}


.paddleChunk {
  background: rgba(255,255,255,.2);
  z-index: 2;
}

.paddleTrail {
  z-index: 2;
}

.paddlePuff {
  z-index: 2;
//  border-radius: 50%;
}


.gravityChunk {
  background: rgba(0,0,0,.4);
  z-index: 2;
}


.cloud {
  z-index: 3;
  background-image: url(assets/images/cloud.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cloud-shadow {
  z-index: 2;
  background-image: url(assets/images/cloud-shadow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.boneChunk {
  background: rgba(255,255,255,.2);
  border-radius: 50%;
  z-index: 2;
}


.spinSquare {
  background: rgba(255,255,255,.2);
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}

