
@keyframes powerupHit {
  0% {
    background: #ffb806;
  }
}

.paddle {
  position: absolute;
  width: 20px;
  height: 100px;
  transform-style: preserve-3d;

  .body {
    position: absolute;
    transition: background .15s ease-out;
    animation: paddleAppear .3s ease-out;
    -moz-animation: none;
    background-color: white;
    width: 100%;
    height: 100%;
  }
  
  &:after {
    position: absolute;
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    // content: "";
    background-image: url(assets/images/crosshair.svg);
    background-size: contain;
    animation: crosshair .5s ease-in-out infinite;
  }
  
  @keyframes crosshair {
    50% {
      transform: scale(1.05);
    }
  }

  &.skeleton .body {
    background: none;
  }

  &.skeleton .body .bone {
    background-image: url(assets/images/bone.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    opacity: .7;
  }

  @keyframes paddleAppear {
    0% {
      transform: scaleX(0) scaleY(0);
      animation-timing-function: ease-out;
    }
    70% {
      transform: scaleX(1.1) scaleY(1.2);
      animation-timing-function: ease-in;
    }
    100% {
      transform: scale(1);
    }
  }

  &.loser .body {
    background: transparent;
    background: rgba(255,255,255,.2);
  }

  &.shaking .body {
    animation: scaredPaddle .5s ease-in-out infinite;
    background: rgba(255,255,255,.2);
  }

  @keyframes scaredPaddle {
    50% {
      transform: scaleX(1.2) scaleY(.85);
    }
  }

  &.powerup-hit .body {
    animation: powerupHit .5s ease-out;
  }

  &.powerup-spin .body {
    background: #5fffff;
    animation: spinPowerupOn .15s ease-out 4;
  }

  &.powerup-magnet .body {
    background: #222;
  }

  &.powerup-noclip .body {
    border: solid 3px white;
    background: rgba(255,255,255,.2);
    box-sizing: border-box;
  }

  &.dead .body {
    background: rgba(255,255,255,0);
  }

  .dash-indicator {
    display: block;
    background: black;
    position: absolute;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    left: -7px;
    top: -7px;
    border-radius: 3px;
    opacity: 0;
    background: #913987;
    transition: opacity .2s ease-out;
  }

  &.dashing {
    .dash-indicator {
      opacity: 1;
    }
  }
}

@keyframes spinPowerupOn {
  50% {
    background: white;
  }
}


.paddleChunk {
  background: rgba(255,255,255,.2);
  z-index: 2;
}

.paddleTrail {
  z-index: 2;
}

.paddlePuff {
  z-index: 2;
}

.gravityChunk {
  background: rgba(0,0,0,.4);
  z-index: 2;
}


.cloud {
  z-index: 3;
  background-image: url(assets/images/cloud.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cloud-shadow {
  z-index: 2;
  background-image: url(assets/images/cloud-shadow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.boneChunk {
  background: rgba(255,255,255,.2);
  border-radius: 50%;
  z-index: 2;
}


.spinSquare {
  background: rgba(255,255,255,.2);
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}

