@keyframes powerupAppear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    transform: translateZ(10px) scale(0);
  }
  60% {
    transform: translateZ(25px) scale(1);
  }
  100% {
    transform: translateZ(20px) scale(1);
  }
}

@keyframes spinZ {
  50% {
    transform: translateZ(30px);
  }
}

.powerup {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform-style: preserve-3d;
  z-index: 1000;

  .body {
    color: rgba(255,255,255,.4);
    z-index: 999;
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateZ(20px);
    animation: appear .5s ease-out, spinZ .5s linear infinite;
    animation-delay: 0s, .5s;
  }

  .shadow {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .2;
    width: 110%;
    height: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    animation: powerupAppear .2s ease-out;
  }

  &.grow {
    .shadow {
      background-image: url(assets/images/star-shadow.svg);
    }
    .body {
      background-image: url(assets/images/star.svg);
    }
  }

  &.clone {
    .shadow {
      background: black;
      border-radius: 50%;
    }
    .body {
      background-image: url(assets/images/mine.svg);

      &:before, &:after {
        position: absolute;
        background: white;
        top: 6px;
        left: 13px;
        width: 4px;
        height: 18px;
      }

      &:before {
        animation: moveLeft 2s linear infinite;
      };

      @keyframes moveLeft {
        0% {
          transform: none;
        }
        20% {
          transform: scaleY(.75);
          animation-timing-function: ease-in-out;
        }
        40% {
          transform: translateX(-4px) scaleY(1);
        }
        60% {
          transform: translateX(-4px);
        }
        80% {
          transform: none;
        }
        100% {
          transform: none;
        }
      }

      &:after {
        animation: moveRight 2s linear infinite;
      }

      @keyframes moveRight {
        0% {
          transform: none;
        }
        20% {
          transform: scaleY(.75);
          animation-timing-function: ease-in-out;
        }
        40% {
          transform: translateX(4px) scaleY(1);
        }
        60% {
          transform: translateX(4px);
        }
        80% {
          transform: none;
        }
        100% {
          transform: none;
        }

      }
    }
  }

  &.mine {
    .shadow {
      background: black;
      border-radius: 50%;
    }

    .streak {
      position: absolute;
      height: 20px;
      width: 8px;
      background: #e5310e;
      position: absolute;
      left: calc(50% - 4px);
      bottom: calc(50% + 10px);
      border-radius: 5px;
      z-index: 1000;
      opacity: .5;
      transform-origin: bottom;
    }

    .body {
      background-image: url(assets/images/mine.svg);

      .light {
        position: absolute;
        top: calc(50% - 14px);
        left: calc(50% - 5px);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #e5310e;
        background: #ff5f4a;
        animation: lightBlink 2s ease-in-out infinite;

        @keyframes lightBlink {
          50% {
            opacity: 0;
          }
        }
      }
    }
  }


  &.bomb {
    .shadow {
      background: black;
      border-radius: 50%;
      width: 80%;
      height: 80%;
      left: 10%;
      top: 20%;
    }

    .bomb-body {
      position: absolute;
      transform-origin: bottom;
      width: 100%;
      height: 100%;
      transform: translateY(0px) rotateX(15deg);
      background-image: url(assets/images/bomb.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .spark {

      background-size: contain;
      position: absolute;
      width: 20px;
      height: 20px;
      top: -18px;
      right: -22px;
      background-position: center;
      background-repeat: no-repeat;
      animation: sparkMove 2s infinite linear;
      transform-origin: bottom right;


      @keyframes sparkMove {
        80% {
          transform: translateX(-10px) translateY(5px);
          opacity: 1;
        }
        100% {
          transform: translateX(-10px) translateY(5px);
          opacity: 0;
        }
      }


      .flame {
        width: 100%;
        position: absolute;
        height: 100%;
        animation: sparkBurn .2s infinite;
        background-image: url(assets/images/spark.svg);
      }


      @keyframes sparkBurn {
        50% {
          transform: scale(1.2);
        }
      }
    }

    .wick {
      position: absolute;
      width: 30px;
      height: 30px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      top: -10px;
      right: -15px;
      border-radius: 2px;
      background-image: url(assets/images/wick.svg);
      transform: rotate(-5deg);
    }
  }

  &.spin {
    .shadow {
      background-image: url(assets/images/spinner-shadow.svg);
      background-size: 90%;
    }

    .body {
      background-image: url(assets/images/spinner.svg);
      background-size: 90%;
    }
  }
}

.star {
  position: absolute;
  background-image: url(assets/images/star.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
}

.mine-chunk {
  position: absolute;
  background: #a0a0a0;
  border-radius: 50%;
  z-index: 999;
}

.mine-shadow {
  position: absolute;
  background: #848484;
  border-radius: 50%;
  background: rgba(0,0,0,.3);
  z-index: 2;
}

.mine-chunk-two {
  position: absolute;
  background: #848484;
  border-radius: 50%;
  z-index: 999;
}

.mine-chunk-three {
  position: absolute;
  background: #a31f00;
  border-radius: 50%;
  z-index: 999;
}





