@keyframes powerupAppear {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.1);
  }
}


@keyframes bobUpDown {
  50% {
    transform: translateZ(30px);
  }
}

.mine-line {
  position: absolute;
  top: 0;
  border: dashed 2px white;
  content: "";
  height: 100%;
  z-index: 4;
  opacity: .2;
}



.powerup {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  z-index: 1000;
  border-radius: 50%;
  overflow: visible;

  .body {
    color: rgba(255,255,255,.4);
    z-index: 999;
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateZ(20px);
    animation: appear .5s ease-out, bobUpDown .5s linear infinite;
    animation-delay: 0s, .5s;
  }

  @keyframes appear {
    0% {
      transform: translateZ(10px) scale(0);
    }
    60% {
      transform: translateZ(30px) scale(1.1);
    }
    100% {
      transform: translateZ(20px) scale(1);
    }
  }


  .shadow {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: scale(1.1);
    animation: powerupAppear .5s ease-out;
  }

  &.grow {
    .shadow {
      background-image: url(assets/images/star-shadow.svg);

    }
    .body {
      background-image: url(assets/images/star.svg);
    }
  }

  &.clone {
    overflow: visible;
    .shadow {
      background-image: url(assets/images/round-shadow.svg);
    }
    .body {
      background-image: url(assets/images/clone.svg);
    }
  }

  &.multiball {
    .shadow {
      background: black;
      border-radius: 50%;
    }
    .body {
      background-image: url(assets/images/multiball.svg);
    }
  }


  &.mine {
    .shadow {
      background: black;
      border-radius: 50%;
    }


    .mine-line {
      left: calc(50% - 1px);
      height: 490px;
      opacity: .1;
    }

    &.lineBlink .mine-line {
      animation: lineBlink .2s ease-in-out infinite;
      @keyframes lineBlink { 
        50% { opacity: .2 }
      }
    }


    .body {
      background-image: url(assets/images/mine.svg);

      .light {
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 6px);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #ff5f4a;
        animation: slowBlink 2s ease-in-out infinite;
        opacity: .5;

        @keyframes slowBlink { 50% { opacity: .2 }}

        &.fastBlink {
          animation: slowBlink .2s ease-in-out infinite;
          opacity: 1;
          @keyframes fastBlink { 50% { opacity: .2 }}
        }

      }
    }
  }


  &.bomb {
    .shadow {
      background: black;
      border-radius: 50%;
      width: 80%;
      height: 80%;
      left: 10%;
      top: 20%;
    }

    .bomb-body {
      position: absolute;
      transform-origin: bottom;
      width: 100%;
      height: 100%;
      transform: translateY(0px) rotateX(15deg);
      background-image: url(assets/images/bomb.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .spark {

      background-size: contain;
      position: absolute;
      width: 20px;
      height: 20px;
      top: -18px;
      right: -22px;
      background-position: center;
      background-repeat: no-repeat;
      animation: sparkMove 2s infinite linear;
      transform-origin: bottom right;


      @keyframes sparkMove {
        80% {
          transform: translateX(-10px) translateY(5px);
          opacity: 1;
        }
        100% {
          transform: translateX(-10px) translateY(5px);
          opacity: 0;
        }
      }


      .flame {
        width: 100%;
        position: absolute;
        height: 100%;
        animation: sparkBurn .2s infinite;
        background-image: url(assets/images/spark.svg);
      }


      @keyframes sparkBurn {
        50% {
          transform: scale(1.2);
        }
      }
    }
  }

  &.spin {
    .shadow {
      background-image: url(assets/images/spinner-shadow.svg);
      background-size: 90%;
    }

    .body {
      background-image: url(assets/images/spinner.svg);
      background-size: 90%;
    }
  }

  &.magnet {
    .shadow {
      background-image: url(assets/images/round-shadow.svg);
    }

    .body {
      background-image: url(assets/images/tar.svg);
      animation: appear .5s ease-out, tarBob .5s linear infinite;
      animation-delay: 0s, .5s;
      transform: translateZ(20px);
    }
  }

  @keyframes tarBob {
    50% {
      transform: translateZ(30px) scaleX(.9) scaleY(1.1);
    }  
  }
}

.star {
  position: absolute;
  background-image: url(assets/images/star.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
}

.mine-chunk {
  position: absolute;
  background: #333333;
  border-radius: 50%;
  z-index: 999;
}

.mine-shadow {
  position: absolute;
  background: #848484;
  border-radius: 50%;
  background: rgba(0,0,0,.3);
  z-index: 2;
}

.mine-chunk-light {
  position: absolute;
  background: #e5310e;
  border-radius: 50%;
  z-index: 999;
}

.powerup-scored {
  position: absolute;
  width: 400px;
  height: 540px;
  animation-fill-mode: forwards;
  opacity: 0;
  animation: flash .5s ease-out;


  &.magnet {
    background: linear-gradient(90deg, #AAA, rgba(170,170,170,0));
  }

  &.clone {
    background: linear-gradient(90deg, #AAA, rgba(170,170,170,0));
  }
  
  &.spin {
    background: linear-gradient(90deg, #39f6ff, rgba(57,246,255,0));
  }

  &.grow {
    background: linear-gradient(90deg, #ffb806, rgba(255,184,6,0));
  }

  &.left {
    top: -20px;
    left: -20px; 
  }
  
  &.right {
    top: -20px;
    right: -20px;
    transform: scaleX(-1);
  }
}

@keyframes flash {
  0%   { opacity: .5 }
  100% { opacity: 0 }
}


.powerup-scored-particle {
  z-index: 5;

  &.magnet {
    background-image: url(assets/images/tar.svg);
    background-size: 100%;
  }
  
  &.grow {
    background-image: url(assets/images/star.svg);
    background-size: 100%;
  }
}