@keyframes powerupAppear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    transform: translateZ(10px) scale(0);
  }
  60% {
    transform: translateZ(25px) scale(1);
  }
  100% {
    transform: translateZ(20px) scale(1);
  }
}

@keyframes spinZ {
  50% {
    transform: translateZ(30px);
  }
}

.powerup {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform-style: preserve-3d;
  z-index: 1000;

  .body {
    color: rgba(255,255,255,.4);
    z-index: 999;
    text-align: center;
    width: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateZ(20px);
    animation: appear .5s ease-out, spinZ .5s linear infinite;
    animation-delay: 0s, .5s;
  }


  .shadow {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .2;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -5px;
    left: -5px;
    animation: powerupAppear .2s ease-out;
  }

  &.grow {
    .shadow {
      background-image: url(assets/images/star-shadow.svg);
    }
    .body {
      background-image: url(assets/images/star.svg);
    }
  }

  &.spin {
    .shadow {
      background-image: url(assets/images/spinner-shadow.svg);
      background-size: 90%;
    }

    .body {
      background-image: url(assets/images/spinner.svg);
      background-size: 90%;
    }
  }

}

//.star {
//  position: absolute;
//  width: 30px;
//  height: 30px;
//  background-image: url(star.svg);
//  background-position: center;
//  background-size: contain;
//  background-repeat: no-repeat;
//}

