.screen.splash {

  .canvas-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 2s ease-out;
    
    &.transition-out {
      opacity: 0;
    }
    
    canvas {
      opacity: 1;
    }
  }

  position: absolute;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 1000px;
  
  &.appear {
    .content {
      display: block;
      animation: splashAppear 1s ease-out;
    }
  }

  .ready {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    perspective: 1200px;
    transition: opacity .5s ease-out, visibility .5s ease-out;
    background: black;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;

    div {
      width: 600px;
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .content {  
    margin: 0 auto;
    padding-bottom: 90px;
    position: relative;
    z-index: 5;
    perspective: 1200px;
    transition: all .5s ease-out;
    text-align: center;

    @keyframes splashAppear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .paddle-guy.transition-out {
    animation: guyFly 1s ease-in;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    transform-origin: bottom;
  }

  @keyframes guyFly {
    20% {
      transform: translateY(0px) scaleY(.8);
    }
    25% {
      transform: translateY(0px) scaleY(1);
    }
    100% {
      transform: translateY(-800px) scaleY(1.2) scaleX(.9);
    }
  }  

  .paddle-guy {
    position: absolute;
    bottom: 150px;
    width: 270px;
    height: 370px;
    left: 40px;
    z-index: 2000;
    transition: transform 2s ease-out;
    animation: guyFloat 2s linear infinite;

    .guy {
      background: url(assets/images/paddle-guy.svg) top no-repeat;
      background-size: contain;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .jet {
      background: url(assets/images/paddle-guy-jet.svg) top no-repeat;
      position: absolute;
      background-size: contain;
      animation: jetPulse .07s linear infinite, jetStretch .2s linear infinite;
      transform-origin: top;
    }

    @keyframes jetStretch {
      50% {
        transform: scaleY(1.15);
      }
    }

    @keyframes jetPulse {
      0% {
        opacity: .5;
      }
      49% {
        opacity: .5;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }

    .jet-left {
      left: 80px;
      top: 270px;
      width: 50px;
      height: 100px;
    }

    .jet-right {
      left: 205px;
      top: 215px;
      width: 50px;
      height: 90px;
    }

     @keyframes guyFloat {
      0% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
      }
      25% {
        transform: translateY(-6px);
        animation-timing-function: ease-in;
      }
      50% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
      }
      75% {
        transform: translateY(6px);
        animation-timing-function: ease-in;
      }
    }
  }

  .game-title {
    font-size: 60px;
    color: white;
    margin: 0 0 45px 0;
    text-align: center;
    transform: rotateX(15deg);
    transition: all .2s ease-out;

    .sub-title {
      font-size: 30px;
    }

    .letter {
      animation: letterFloat 2s infinite;
      // text-shadow: 0px 3px 0px #ac4d9d, 0px 6px 0px #3faa7f;;
      display: inline-block;

      &:empty() {
        width: 200px;
      }
    }

    @keyframes letterFloat {
      0% {
        transform: translateY(0px);
        // text-shadow: 0px 3px 0px #ac4d9d, 0px 6px 0px #3faa7f;
        animation-timing-function: ease-out;
      }
      25% {
        transform: translateY(-6px);
        // text-shadow: 0px 6px 0px #ac4d9d, 0px 9px 0px #3faa7f;
        animation-timing-function: ease-in;
      }
      50% {
        transform: translateY(0px);
        // text-shadow: 0px 3px 0px #ac4d9d, 0px 6px 0px #3faa7f;
        animation-timing-function: ease-out;
      }
      75% {
        transform: translateY(6px);
        // text-shadow: 0px 0px 0px #ac4d9d, 0px 0px 0px #3faa7f;
        animation-timing-function: ease-in;
      }
    }
  }

  .pop {
    animation: optionPop .5s ease-out;
    @keyframes optionPop {
      0% {
        transform: scale(1);
      }
      10% {
        transform: scale(.8);
      }

      50% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  .credits {
    display: none;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    padding: 20px 0;
    z-index: 4;
    color: rgba(255,255,255,.3);
    background: rgba(0,0,0,.6);
    text-align: center;
    font-weight: 300;
    transition: transform 1s ease-in;
    transform-origin: bottom;

    a {
      color: rgba(255,255,255,.6);
      text-decoration: none;
    }

    &.transition-out {
      transform: rotateX(140deg);
    }

    &.show {
      display: block;
    }

    .credit {
      position: absolute;
      width: 100%;
      top: 0;
      padding: 20px 0;

      &.before-show {
        left: -100vw;
      }

      &.show {
        left: 0;
      }

      &.after-show {
        left: 100vw;
      }

      .name {
        color: rgba(255,255,255,.6);
      }

      transition: left .5s;
    }

    height: 1em;
  }

  .content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 5;
    align-items: center;
    
  }

  .content {
    transition: all .5s ease-out;
    text-align: center;

    &.transition-out {
      opacity: 0;
      transform: scale(.95);
    }
  }
  
  .scene {
    z-index: 1;
    
    .sky {
      background-image: radial-gradient(200% 100% at bottom, #540c56 55%, #000 100%);
      height: 60%;
      bottom: 0;
      top: auto;
      opacity: .4;
      transition: opacity 2s ease-out;
      
      &.transition-out {
        opacity: 0;
      }
    }

    .surface {
      z-index: 2;
    }

    .surface {
      top: 80vh;

      &.transition-out {
        transition: top 2s ease-in-out;
        top: 100vh;
      }
    }

    .large-moon {
      top: 350px;
      z-index: 2;

      &.transition-out {
        transition: top 2s ease-in-out;
        top: 850px;
      }
    }

    .overlay {
      opacity: 0;

      &.transition-out {
        transition: opacity 2s ease-in-out;
        opacity: .5;
      }
    }

    .stars {
      height: 100vh;
    }

    .stars .star {
      background: white;
      border-radius: 50%;
      position: absolute;
    }

    .floating-paddle {
      background: #876384;
      position: absolute;
    }
  }

  
  .player-options {
    margin-top: 30px;
    
    .vs {
      display: inline-block;
      margin: 0 10px;
    }

    .player-option {
      background: orange;
      display: inline-block;
      padding: 6px 12px 7px 12px;
      cursor: pointer;

      &.gamepad {
        background-image: url('assets/images/gamepad.svg?f=292');
        background-size: 55%;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.keyboard {
        background-image: url('assets/images/keyboard.svg?f=292');
        background-size: 55%;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.ai {

      }
    }

    .gamepad, .keyboard {
      width: 50px;
    }

    .player-one {
      background: #ac4d9c;
    }
    .player-two {
      background: #3faa7f;
    }
  }

  .game-settings {
    width: 80vw;
    color: white;
    position: relative;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  .option {
    display: inline-block;
  }

  .option-toggle {
    margin: 0 8px;

    .value {
      position: relative;
      padding-right: 50px;
      
      .icon {
        content: "";
        position: absolute;
        top: 8px;
        opacity: .6;
        right: 13px;
        width: 24px;
        height: 24px;
        background-image: url(assets/images/icon-x.svg);
        background-size: 17px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }


    &.enabled .value {
      background-color: #ac4d9c;
      text-decoration: none;
      color: white;

      .icon {
        background-size: 24px;
        top: 8px;
        right: 12px;
        background-image: url(assets/images/icon-check.svg);
        opacity: 1;
      }
    }
  }

  .value {
    margin: 0 4px;
    background: rgba(255,255,255,.15);
    padding: 6px 14px 7px 14px;
    line-height: 30px;
    font-size: 22px;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    color: rgba(255,255,255,.6);

    &:hover {
      background-image: rgba(255,255,255,.3);
    }

    &.selected {
      background: #ac4d9c;
      color: rgba(255,255,255,1);
    }
  }

  .enabled .value {
    content: "on";
  }

  .buttons {
    margin-top: 40px;

    .button {
      display: inline-block;
      text-align: center;
      padding: 5px 20px;
      font-size: 40px;
      cursor: pointer;
      color: white;
      margin: 0 10px;
      box-shadow: 6px 6px 0px rgba(0,0,0,.4);
      cursor: pointer;
      transition: transform .1s ease-out;

      &:hover {
        transform: scale(1.05);
      }


      &.rules-button {
        background: $pink;
        font-size: 30px;
      }
      
      &.start-game {
        padding: 10px 45px;
        margin-bottom: 20px;
      }

    }
  }
  
  .start-game {
    color: white;
    z-index: 1;
    padding: 10px 20px;
    transform: rotateX(0deg);
    background: $green;
  }

  .start-game-particle {
    background: $green;
    transition: none;
    z-index: 999999;
    display: block;
    text-align: center;
    padding: 10px 45px;
    width: auto !important;
    font-size: 40px;
    cursor: pointer;
    color: white;
    margin: 0 10px;
    box-shadow: 6px 6px 0px rgba(0,0,0,.4);

    &:before {
      content: "START!";
    }
  }

  .best-of {
    margin-bottom: 10px;
    
    .label {
      margin-right: 10px;
    }
  }

  .powerups {
    margin: 30px 0;

    .label {
      position: relative;
      top: -5px;
      margin-right: 20px;
    }
  }

  .powerup {
    display: inline-block;
    position: relative;
    margin: 0 12px;
    
    .name {
      font-size: 20px;
      opacity: .4;
      margin-top: 15px;
      display: inline-block;
    }

    .icon {
      width: 40px;
      display: block;
      margin: 0 auto;
      height: 40px;
      background-size: conain;
      background-repeat: no-repeat;
      opacity: .4;
      background-position: center;
      position: relative;
      border-radius: 0;
      cursor: pointer;
      animation: iconWobble 2s ease-in-out alternate infinite;
      
    }
    
    @keyframes iconWobble {
      0% {
        transform: rotate(-5deg);
      }
      100% {
        transform: rotate(5deg);
      }
    }
  }

  [data-powerup=grow] .icon {
    background-image: url(assets/images/star.svg);
  }

  [data-powerup=noclip] .icon {
    background-image: none;
    background: transparent;
    border: solid 4px white;
    height: 26px;
    width: 26px;
    background: rgba(255,255,255,.2);
  }


  [data-powerup=spin] .icon {
    background-image: url(assets/images/spinner.svg);
    background-size: 35px;
  }

  [data-powerup=clone] .icon {
    background-image: url(assets/images/bone.svg);
    background-color: #666;
    background-size: 12px;
    border-radius: 50%;
  }
  
  [data-powerup=magnet] .icon {
    background-image: url(assets/images/tar.svg);
  }

  [data-powerup=mine] .icon {
    background-image: url(assets/images/mine.svg);
  }

  .enabled {
    .icon, .name {
      opacity: 1;
    }
  }

  [data-sounds] {
    margin-right: 25px;
  }

  @keyframes pulse {
    50% {
      transform: scale(1.05);
    }
  }
}
