@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Black.ttf);
}

html, body {
  font-family: Lato;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: black;
  perspective: 1200px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
  pointer-events: none;
  z-index: 99999999;
}

[data-physics] {
  will-change: transform;
}

@import 'effects';
@import 'reactions';
@import 'board';
@import 'paddle';
@import 'ball';
@import 'powerups';
@import 'intro';
@import 'menu';
@import 'score';
@import 'header';

.angle {
  position: fixed;
  bottom: 100px;
  right: 100px;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,.4);
  border-radius: 50px;
  display: none;

  .arrow-1 {
    position: absolute;
    width: 2px;
    height: 50px;
    background: red;
    top: 0;
    left: 49px;
    transform-origin: bottom;
  }

  .arrow-2 {
    position: absolute;
    width: 2px;
    height: 25px;
    background: blue;
    top: 25px;
    left: 49px;
    transform-origin: bottom;
  }

}
