@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Black.ttf);
}

@font-face {
  font-family: LatoRegular;
  src: url(fonts/Lato-Regular.ttf);
}

$pink: #ac4d9d; 
$green: #3faa7f;

html, body {
  font-family: Lato;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.screen {
  display: none;

  &.show {
    display: block;
  }

  &.transition-out {
    transition: opacity .5s ease-out;
    opacity: 0;
  }
}

body {
  perspective: 1200px;
  overflow: hidden;
  background: black;
  user-select: none;
}

.world .board-canvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 850px;
  height: 500px;
}

[data-physics] {
  will-change: transform;
}

@import 'effects';
@import 'reactions';
@import 'board';
@import 'paddle';
@import 'ball';
@import 'powerups';
@import 'menu';
@import 'message';
@import 'header';
@import 'splash';
@import 'pause';
@import 'rules';
@import 'buttons';
@import 'loading';
@import 'story';

#fps {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  color: white;
  font-size: 1.2em;
  font-family: 'Courier New';
}

#aidebug {
  position: fixed;
  top: 1em;
  font-size: 18pt;
  color: white;
  width: 100%;
  height: 2em;
  z-index: 99999999;

  .left {
    position: absolute;
    left: 1em;
  }

  .right {
    position: absolute;
    right: 1em;
  }
}

.gleam {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 1;
  transform-origin: left;
}
